.font-roman{
    font-family: "Times New Roman"
}
.background-red{
    background-color:#e25757;
    border: 2px solid #ddd;
    font-size: 14px;
    color:black
}
.background-burlywood{
    background-color: burlywood;
    border: 2px solid #ddd;
    font-size: 14px
}
.selection-background{
    background-color: #dedebf;
}

div.hover-class :hover { 
    background-color:#dedebf
}

div.hover-class :active { 
    background-color: rgb(103, 116, 103);
}

hr{
      border-top:1px solid rgba(0,0,0,0.3)
}

select {
      width:25%;
}



/* table styles */
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
  }

  td{
    width:100%
  }
